@import './variables';

//==========Reset==========
//reset box-sizen to all elements
* {
  box-sizing: border-box;
}
// Reset ul styles
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
// reset a style
a {
  text-decoration: none;
}
//==========Styles==========
html,
body {
  width: 100%;
  height: 100vh;

  font-family: Roboto;
}
